In [1]:
import pandas as pd

df_train = pd.read_csv('../data/training.csv')
df_test = pd.read_csv('../data/test.csv')

df_train

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2018-11-15T02:18:49Z,2,0
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,2018-11-15T02:19:08Z,2,0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,ChannelId_3,500.0,500,2018-11-15T02:44:21Z,2,0
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,ProductId_21,utility_bill,ChannelId_3,20000.0,21800,2018-11-15T03:32:55Z,2,0
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-644.0,644,2018-11-15T03:34:21Z,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95657,TransactionId_89881,BatchId_96668,AccountId_4841,SubscriptionId_3829,CustomerId_3078,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-1000.0,1000,2019-02-13T09:54:09Z,2,0
95658,TransactionId_91597,BatchId_3503,AccountId_3439,SubscriptionId_2643,CustomerId_3874,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2019-02-13T09:54:25Z,2,0
95659,TransactionId_82501,BatchId_118602,AccountId_4841,SubscriptionId_3829,CustomerId_3874,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,2019-02-13T09:54:35Z,2,0
95660,TransactionId_136354,BatchId_70924,AccountId_1346,SubscriptionId_652,CustomerId_1709,UGX,256,ProviderId_6,ProductId_19,tv,ChannelId_3,3000.0,3000,2019-02-13T10:01:10Z,2,0
95661,TransactionId_35670,BatchId_29317,AccountId_4841,SubscriptionId_3829,CustomerId_1709,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-60.0,60,2019-02-13T10:01:28Z,2,0

In [2]:
df_train['FraudResult'].value_counts()

FraudResult
0    95469
1      193
Name: count, dtype: int64

In [3]:
df_train['TransactionId'].nunique()
df_train['BatchId'].nunique()
df_train['SubscriptionId'].nunique()
df_train['CustomerId'].nunique()

3742

In [4]:
columns_to_delete = ['TransactionId', 'BatchId', 'SubscriptionId', 'AccountId', 'CustomerId', 'Amount', 'CurrencyCode', 'CountryCode']
for df in [df_train, df_test]:
    df.drop(columns=columns_to_delete, inplace=True)

In [5]:
df_train

,ProviderId,ProductId,ProductCategory,ChannelId,Value,TransactionStartTime,PricingStrategy,FraudResult
0,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000,2018-11-15T02:18:49Z,2,0
1,ProviderId_4,ProductId_6,financial_services,ChannelId_2,20,2018-11-15T02:19:08Z,2,0
2,ProviderId_6,ProductId_1,airtime,ChannelId_3,500,2018-11-15T02:44:21Z,2,0
3,ProviderId_1,ProductId_21,utility_bill,ChannelId_3,21800,2018-11-15T03:32:55Z,2,0
4,ProviderId_4,ProductId_6,financial_services,ChannelId_2,644,2018-11-15T03:34:21Z,2,0
...,...,...,...,...,...,...,...,...
95657,ProviderId_4,ProductId_6,financial_services,ChannelId_2,1000,2019-02-13T09:54:09Z,2,0
95658,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000,2019-02-13T09:54:25Z,2,0
95659,ProviderId_4,ProductId_6,financial_services,ChannelId_2,20,2019-02-13T09:54:35Z,2,0
95660,ProviderId_6,ProductId_19,tv,ChannelId_3,3000,2019-02-13T10:01:10Z,2,0
95661,ProviderId_4,ProductId_6,financial_services,ChannelId_2,60,2019-02-13T10:01:28Z,2,0

In [6]:
%pip install -U category_encoders

Requirement already satisfied: category_encoders in c:\users\hp\anaconda3\lib\site-packages (2.8.1)
Requirement already satisfied: numpy>=1.14.0 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (1.26.4)
Requirement already satisfied: pandas>=1.0.5 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (2.2.3)
Requirement already satisfied: patsy>=0.5.1 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (1.0.1)
Requirement already satisfied: scikit-learn>=1.6.0 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (1.6.1)
Requirement already satisfied: scipy>=1.0.0 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (1.15.1)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (0.14.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2023.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn>=1.6.0->category_encoders) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn>=1.6.0->category_encoders) (3.5.0)
Requirement already satisfied: packaging>=21.3 in c:\users\hp\appdata\roaming\python\python312\site-packages (from statsmodels>=0.9.0->category_encoders) (24.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.0.5->category_encoders) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
df_test

,ProviderId,ProductId,ProductCategory,ChannelId,Value,TransactionStartTime,PricingStrategy
0,ProviderId_5,ProductId_3,airtime,ChannelId_3,1000,2019-02-13T10:01:40Z,4
1,ProviderId_5,ProductId_15,financial_services,ChannelId_3,2000,2019-02-13T10:02:12Z,2
2,ProviderId_4,ProductId_6,financial_services,ChannelId_2,50,2019-02-13T10:02:30Z,2
3,ProviderId_5,ProductId_10,airtime,ChannelId_3,3000,2019-02-13T10:02:38Z,4
4,ProviderId_4,ProductId_6,financial_services,ChannelId_2,60,2019-02-13T10:02:58Z,2
...,...,...,...,...,...,...,...
45014,ProviderId_4,ProductId_6,financial_services,ChannelId_3,5000,2019-03-14T23:56:28Z,2
45015,ProviderId_3,ProductId_10,airtime,ChannelId_3,10000,2019-03-14T23:57:38Z,1
45016,ProviderId_3,ProductId_10,airtime,ChannelId_3,10000,2019-03-14T23:59:17Z,1
45017,ProviderId_4,ProductId_6,financial_services,ChannelId_3,5000,2019-03-14T23:59:39Z,2
45018,ProviderId_5,ProductId_3,airtime,ChannelId_3,3500,2019-03-14T23:59:51Z,4

In [8]:
%pip install category_encoders

Requirement already satisfied: category_encoders in c:\users\hp\anaconda3\lib\site-packages (2.8.1)
Requirement already satisfied: numpy>=1.14.0 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (1.26.4)
Requirement already satisfied: pandas>=1.0.5 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (2.2.3)
Requirement already satisfied: patsy>=0.5.1 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (1.0.1)
Requirement already satisfied: scikit-learn>=1.6.0 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (1.6.1)
Requirement already satisfied: scipy>=1.0.0 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (1.15.1)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (0.14.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2023.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn>=1.6.0->category_encoders) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn>=1.6.0->category_encoders) (3.5.0)
Requirement already satisfied: packaging>=21.3 in c:\users\hp\appdata\roaming\python\python312\site-packages (from statsmodels>=0.9.0->category_encoders) (24.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.0.5->category_encoders) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import category_encoders as ce

cols_to_encode = ['ProviderId', 'ProductId', 'ChannelId', 'ProductCategory']

# Séparer X (features) et y (target)
X= df_train.drop(columns=['FraudResult'])
y = df_train['FraudResult']

# Créer l'encodeur
encoder = ce.OrdinalEncoder(cols=cols_to_encode)
X_encoded = encoder.fit_transform(X)

# Pour df_test
df_test_encoded = encoder.transform(df_test)

In [10]:
X_encoded.head()

,ProviderId,ProductId,ProductCategory,ChannelId,Value,TransactionStartTime,PricingStrategy
0,1,1,1,1,1000,2018-11-15T02:18:49Z,2
1,2,2,2,2,20,2018-11-15T02:19:08Z,2
2,1,3,1,1,500,2018-11-15T02:44:21Z,2
3,3,4,3,1,21800,2018-11-15T03:32:55Z,2
4,2,2,2,2,644,2018-11-15T03:34:21Z,2

In [11]:
df_test_encoded

,ProviderId,ProductId,ProductCategory,ChannelId,Value,TransactionStartTime,PricingStrategy
0,4,5.0,1.0,1.0,1000,2019-02-13T10:01:40Z,4
1,4,6.0,2.0,1.0,2000,2019-02-13T10:02:12Z,2
2,2,2.0,2.0,2.0,50,2019-02-13T10:02:30Z,2
3,4,1.0,1.0,1.0,3000,2019-02-13T10:02:38Z,4
4,2,2.0,2.0,2.0,60,2019-02-13T10:02:58Z,2
...,...,...,...,...,...,...,...
45014,2,2.0,2.0,1.0,5000,2019-03-14T23:56:28Z,2
45015,5,1.0,1.0,1.0,10000,2019-03-14T23:57:38Z,1
45016,5,1.0,1.0,1.0,10000,2019-03-14T23:59:17Z,1
45017,2,2.0,2.0,1.0,5000,2019-03-14T23:59:39Z,2
45018,4,5.0,1.0,1.0,3500,2019-03-14T23:59:51Z,4

In [12]:
# Assurer que la colonne est bien en datetime
df_train = pd.concat([X_encoded, y], axis=1)

df_train['TransactionStartTime'] = pd.to_datetime(df_train['TransactionStartTime'])
df_test['TransactionStartTime'] = pd.to_datetime(df_test['TransactionStartTime'])

# Extraire les caractéristiques temporelles
df_train['Month'] = df_train['TransactionStartTime'].dt.month
df_train['Hour'] = df_train['TransactionStartTime'].dt.hour
df_train['Weekday'] = df_train['TransactionStartTime'].dt.weekday  # 0 = Lundi, 6 = Dimanche

df_test['Month'] = df_test['TransactionStartTime'].dt.month
df_test['Hour'] = df_test['TransactionStartTime'].dt.hour
df_test['Weekday'] = df_test['TransactionStartTime'].dt.weekday  # 0 = Lundi, 6 = Dimanche

# Supprimer la colonne TransactionStartTime si plus nécessaire
df_train.drop(columns=['TransactionStartTime'], inplace=True)
df_test.drop(columns=['TransactionStartTime'], inplace=True)

In [13]:
df_train.head()

,ProviderId,ProductId,ProductCategory,ChannelId,Value,PricingStrategy,FraudResult,Month,Hour,Weekday
0,1,1,1,1,1000,2,0,11,2,3
1,2,2,2,2,20,2,0,11,2,3
2,1,3,1,1,500,2,0,11,2,3
3,3,4,3,1,21800,2,0,11,3,3
4,2,2,2,2,644,2,0,11,3,3

In [14]:
X_encoded = df_train.drop('FraudResult', axis=1)
X_encoded.head()

,ProviderId,ProductId,ProductCategory,ChannelId,Value,PricingStrategy,Month,Hour,Weekday
0,1,1,1,1,1000,2,11,2,3
1,2,2,2,2,20,2,11,2,3
2,1,3,1,1,500,2,11,2,3
3,3,4,3,1,21800,2,11,3,3
4,2,2,2,2,644,2,11,3,3

In [15]:
df_test

,ProviderId,ProductId,ProductCategory,ChannelId,Value,PricingStrategy,Month,Hour,Weekday
0,ProviderId_5,ProductId_3,airtime,ChannelId_3,1000,4,2,10,2
1,ProviderId_5,ProductId_15,financial_services,ChannelId_3,2000,2,2,10,2
2,ProviderId_4,ProductId_6,financial_services,ChannelId_2,50,2,2,10,2
3,ProviderId_5,ProductId_10,airtime,ChannelId_3,3000,4,2,10,2
4,ProviderId_4,ProductId_6,financial_services,ChannelId_2,60,2,2,10,2
...,...,...,...,...,...,...,...,...,...
45014,ProviderId_4,ProductId_6,financial_services,ChannelId_3,5000,2,3,23,3
45015,ProviderId_3,ProductId_10,airtime,ChannelId_3,10000,1,3,23,3
45016,ProviderId_3,ProductId_10,airtime,ChannelId_3,10000,1,3,23,3
45017,ProviderId_4,ProductId_6,financial_services,ChannelId_3,5000,2,3,23,3
45018,ProviderId_5,ProductId_3,airtime,ChannelId_3,3500,4,3,23,3

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

# 1. Séparation Train / Validation
X_train, X_val, y_train, y_val = train_test_split(
    X_encoded, y, test_size=0.2, random_state=42, stratify=y
)

In [17]:
# 3. Modèle de base
rf_model = RandomForestClassifier(
    max_depth=15,
    class_weight='balanced',
    random_state=42,
    n_jobs=-1
)

rf_model.fit(X_train, y_train)
# 4. Prédiction et évaluation sur Validation (non resamplé)
y_pred = rf_model.predict(X_val)

print(classification_report(y_val, y_pred, target_names=['Not Fraud', 'Fraud']))

              precision    recall  f1-score   support

   Not Fraud       1.00      1.00      1.00     19094
       Fraud       0.83      0.90      0.86        39

    accuracy                           1.00     19133
   macro avg       0.92      0.95      0.93     19133
weighted avg       1.00      1.00      1.00     19133

In [18]:
%pip install catboost

Requirement already satisfied: catboost in c:\users\hp\anaconda3\lib\site-packages (1.2.8)
Requirement already satisfied: graphviz in c:\users\hp\anaconda3\lib\site-packages (from catboost) (0.20.3)
Requirement already satisfied: matplotlib in c:\users\hp\anaconda3\lib\site-packages (from catboost) (3.9.2)
Requirement already satisfied: numpy<3.0,>=1.16.0 in c:\users\hp\anaconda3\lib\site-packages (from catboost) (1.26.4)
Requirement already satisfied: pandas>=0.24 in c:\users\hp\anaconda3\lib\site-packages (from catboost) (2.2.3)
Requirement already satisfied: scipy in c:\users\hp\anaconda3\lib\site-packages (from catboost) (1.15.1)
Requirement already satisfied: plotly in c:\users\hp\anaconda3\lib\site-packages (from catboost) (5.24.1)
Requirement already satisfied: six in c:\users\hp\anaconda3\lib\site-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=0.24->catboost) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=0.24->catboost) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=0.24->catboost) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib->catboost) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\appdata\roaming\python\python312\site-packages (from matplotlib->catboost) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib->catboost) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib->catboost) (3.2.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\hp\anaconda3\lib\site-packages (from plotly->catboost) (9.0.0)
Note: you may need to restart the kernel to use updated packages.

In [19]:
from catboost import CatBoostClassifier
from sklearn.metrics import classification_report

# 1. Modèle CatBoost ultra simple + boost léger
cat_model = CatBoostClassifier(
    random_state=42,
    iterations=100,
    learning_rate=0.415,
    loss_function='Logloss',
    verbose=0,
)

# 2. Entraînement
cat_model.fit(X_train, y_train)

# 3. Prédictions
y_pred = cat_model.predict(X_val)

# 4. Rapport
print("\nClassification Report:\n")
print(classification_report(y_val, y_pred, target_names=['Not Fraud', 'Fraud']))

Classification Report:

              precision    recall  f1-score   support

   Not Fraud       1.00      1.00      1.00     19094
       Fraud       0.83      0.87      0.85        39

    accuracy                           1.00     19133
   macro avg       0.91      0.94      0.92     19133
weighted avg       1.00      1.00      1.00     19133

In [20]:
%pip install lightgbm

Collecting lightgbm
  Using cached lightgbm-4.6.0-py3-none-win_amd64.whl.metadata (17 kB)
Requirement already satisfied: numpy>=1.17.0 in c:\users\hp\anaconda3\lib\site-packages (from lightgbm) (1.26.4)
Requirement already satisfied: scipy in c:\users\hp\anaconda3\lib\site-packages (from lightgbm) (1.15.1)
Using cached lightgbm-4.6.0-py3-none-win_amd64.whl (1.5 MB)
Installing collected packages: lightgbm
Successfully installed lightgbm-4.6.0
Note: you may need to restart the kernel to use updated packages.

In [21]:
import lightgbm as lgb
from sklearn.metrics import classification_report, f1_score
import numpy as np

# 1. Modèle LightGBM simple mais costaud
lgbm_model = lgb.LGBMClassifier(
    objective='binary',
    boosting_type='gbdt',
    max_depth=10,              # contrôle la complexité
    num_leaves=31,             # standard efficace pour n_samples moyens
    learning_rate=0.05,        # pas trop agressif
    n_estimators=500,          # assez pour bien apprendre
    class_weight='balanced',   # très important ici
    random_state=42,
    n_jobs=-1                  # entraînement rapide
)

# 2. Entraînement
lgbm_model.fit(X_train, y_train)

# Probabilités de classe 1
y_proba = lgbm_model.predict_proba(X_val)[:, 1]

# Chercher le meilleur threshold
best_threshold = 0.5
best_f1 = 0

thresholds = np.arange(0.1, 0.9, 0.01)

for thresh in thresholds:
    y_pred_thresh = (y_proba >= thresh).astype(int)
    f1 = f1_score(y_val, y_pred_thresh)
    if f1 > best_f1:
        best_f1 = f1
        best_threshold = thresh

print(f"✅ Best threshold: {best_threshold:.2f} with F1-score: {best_f1:.4f}")

# Appliquer le meilleur threshold
y_pred_best = (y_proba >= best_threshold).astype(int)

# Nouveau rapport de classification
print("\nClassification Report with Best Threshold:\n")
print(classification_report(y_val, y_pred_best, target_names=['Not Fraud', 'Fraud']))

[LightGBM] [Info] Number of positive: 154, number of negative: 76375
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000963 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 326
[LightGBM] [Info] Number of data points in the train set: 76529, number of used features: 9
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.500000 -> initscore=-0.000000
[LightGBM] [Info] Start training from score -0.000000
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
✅ Best threshold: 0.42 with F1-score: 0.9114

Classification Report with Best Threshold:

              precision    recall  f1-score   support

   Not Fraud       1.00      1.00      1.00     19094
       Fraud       0.90      0.92      0.91        39

    accuracy                           1.00     19133
   macro avg       0.95      0.96      0.96     19133
weighted avg       1.00      1.00      1.00     19133

In [22]:
test_data = pd.concat([df_test_encoded, df_test[['Month', 'Hour', 'Weekday']]], axis=1).drop('TransactionStartTime', axis=1)
test_data

,ProviderId,ProductId,ProductCategory,ChannelId,Value,PricingStrategy,Month,Hour,Weekday
0,4,5.0,1.0,1.0,1000,4,2,10,2
1,4,6.0,2.0,1.0,2000,2,2,10,2
2,2,2.0,2.0,2.0,50,2,2,10,2
3,4,1.0,1.0,1.0,3000,4,2,10,2
4,2,2.0,2.0,2.0,60,2,2,10,2
...,...,...,...,...,...,...,...,...,...
45014,2,2.0,2.0,1.0,5000,2,3,23,3
45015,5,1.0,1.0,1.0,10000,1,3,23,3
45016,5,1.0,1.0,1.0,10000,1,3,23,3
45017,2,2.0,2.0,1.0,5000,2,3,23,3
45018,4,5.0,1.0,1.0,3500,4,3,23,3

In [25]:
y_pred_test = lgbm_model.predict(test_data)

# Créer le dataframe de soumission
submission = pd.DataFrame({
    'TransactionId': pd.read_csv('../data/test.csv')['TransactionId'],
    'FraudResult': y_pred_test
})

print("Distribution des prédictions avant soumission :")
print(submission['FraudResult'].value_counts())

# Sauvegarder
submission.to_csv('submission_cta.csv', index=False)

Distribution des prédictions avant soumission :
FraudResult
0    44948
1       71
Name: count, dtype: int64

In [29]:
import pickle

with open('../models/lgbm_model.pkl', 'wb') as f:
    pickle.dump(lgbm_model, f)

In [30]:
with open('../models/cat_model.pkl', 'wb') as f:
    pickle.dump(cat_model, f)

In [31]:
with open('../models/rf_model.pkl', 'wb') as f:
    pickle.dump(rf_model, f)